/* Begin CSS Drop Down Menu */

#navigation
	{
	width:100%;
	float:left;
	margin:0px;
	margin-top: 1em;
	}

#navigation a
	{
	display:block;
	white-space:nowrap;
	margin:0;
	}

#navigation a:link, #navigation a:visited, #navigation a:active	/* menu at rest */
	{
	color: black;
	background-color: #cd6667;
	text-decoration:none;
	}

#navigation a:hover	/* menu at mouse-over  */
	{
	color: black;
    font-weight: bold;
	text-decoration:none;
	}

#navigation a.parent
	{
	background-image: url(../images/rollover.jpg);
	background-repeat: no-repeat;
    width: 136px;
    height: 31px;
    line-height: 32px;
	text-align: center;
	font-family: Calibri;
    font-size: 16px;
    font-variant: small-caps;
	}

#navigation a.parent:hover
       {
    background-position: 0px -31px;
    color: white;
    }

#navigation ul
	{
	list-style:none;
	margin:0;
	padding:0;
	float:left;
	}

#navigation li
	{
	position:relative;
    min-height: 1px;
    vertical-align: bottom;
	}
#navigation li li
	{
    background-color: #cd6667;
    border-width: 1px;
    border-style: dashed;
    border-color: black;
	font-family: Calibri;
    font-size: 14px;
	text-align: left;
    padding: 4px 1px 4px 4px;
	}

#navigation ul ul
	{
	position:absolute;
	z-index:500;
	top:auto;
	display:none;
    width:133px;
	padding: 1em;
	margin:-1em 0 0 -1em;
	}

#navigation ul ul ul
	{
	top:0;
	left:100%;
	}

div#navigation li:hover
	{
	cursor:pointer;
	z-index:100;
	}

div#navigation li:hover ul ul,
div#navigation li li:hover ul ul,
div#navigation li li li:hover ul ul,
div#navigation li li li li:hover ul ul
{display:none;}

div#navigation li:hover ul,
div#navigation li li:hover ul,
div#navigation li li li:hover ul,
div#navigation li li li li:hover ul
{display:block;}

/* End CSS Drop Down Menu */
